.container{
    display: flex;
    background-color: #5cd396;
    flex-direction: row;
}
.container div{
    background-color: blueviolet;
    margin:30px;
    padding:30px;
    font-size:60px;
}

@media (max-width: 2000px) {
    .container{
        flex-direction:column;
    }
}

img{
    width: 300px;
}